/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  font-family: "Nunito";
  line-height: 1.5;
  background-color: #f8fafc;
}

footer {
  display: block;
  text-align: center;
  margin-top: 60px;
  padding: 30px 0;
  color: #777;
  border-top: 1px solid #ddd;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 35px;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}
header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

nav a {
  margin-left: 10px;
  padding: 6px 12px;
  margin: 0 3px;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: black;
  border: 1px solid #ffd700;
}
a:hover {
  background: linear-gradient(rgb(249, 115, 22), rgb(253, 224, 71));
}
.close {
  cursor: pointer;
  position: absolute;
  right: 40px;
  padding: 3px;
  margin: -60px 0px;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 8px;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 10px;
  text-align: center;
  color: rebeccapurple;
}

@media only screen and (max-width: 442px) {
  .logo {
    display: none;
  }
}
